@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Manrope:wght@300;400;500;600;700&display=swap');

@layer base {
  body {
    background-color: #fafaf5;
    color: #1a1c19;
    font-family: 'Manrope', system-ui, sans-serif;
    @apply antialiased;
  }

  h1,
  h2,
  h3 {
    font-family: 'Noto Serif', serif;
  }
}

/* Smooth transitions */
@layer utilities {
  .transition-soft {
    @apply transition-all duration-300 ease-in-out;
  }
}
